.news {
  .layout-center();
  padding-top: 75px;
  padding-bottom: 60px;

  .section-inner {
    display: flex;
    flex-flow: row wrap;
  }

  .section-title {
    display: inline-block;
    margin-bottom: 50px;
    margin-left: 20px;
    padding-left: 0;
  }
}

.news__list {
  display: flex;
  flex-flow: row wrap;
  width: 830px;
}

.news__item {
  width: 276px;
  padding: 0 20px;
  box-sizing: border-box;
}

.news__date {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 30px;
  color: #606069;
}

.news__title {
  display: block;
  margin-bottom: 10px;
  font-size: @font-size-base;
  line-height: @line-height-base;
  color: @color-secondary;
  text-decoration: none;

  &:hover {
    color: #e4617f;
  }
}

.news__text {
  font-size: @font-size-base;
  line-height: 24px;
  font-weight: 300;
}

.news__widget {
  width: 276px;
}
