.products-line {
  position: relative;
  // .layout-center();
  padding-top: 46px;

  // &:before {
  //   position: absolute;
  //   top: 89px;
  //   left: 0;
  //   transform: translateY(-50%);
  //   width: 405px;
  //   height: 2px;
  //   background-color: #e9e4d6;
  //   content: "";
  // }

  // &:after {
  //   position: absolute;
  //   top: 89px;
  //   right: 0;
  //   transform: translateY(-50%);
  //   width: 405px;
  //   height: 2px;
  //   background-color: #e9e4d6;
  //   content: "";
  // }
}

.products-line__title {
  position: relative;
  margin-left: 434px;
  font-size: 26px;
  line-height: 1.2;
  font-weight: 300;
  text-transform: uppercase;
}

.products-line__list {
  display: flex;
  flex-flow: row wrap;
  .layout-center();
}
